<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dependencyConfigSection" type="Planru.Crosscutting.IoC.Configuration.DependencyConfigurationSection, Planru.Crosscutting.IoC" />
    <section name="planru.ioc" type="Planru.Crosscutting.IoC.Configuration.DependencyConfigurationSection, Planru.Crosscutting.IoC" />
  </configSections>
  <dependencyConfigSection>
    <dependencies>
      <dependency type="Planru.Crosscutting.IoC.Tests.Assets.IService, Planru.Crosscutting.IoC.Tests" resolve="Planru.Crosscutting.IoC.Tests.Assets.Service, Planru.Crosscutting.IoC.Tests" scope="single-instance" />
    </dependencies>
  </dependencyConfigSection>
  <planru.ioc>
    <dependencies>
      <dependency type="Planru.Crosscutting.IoC.Tests.Assets.IService, Planru.Crosscutting.IoC.Tests" resolve="Planru.Crosscutting.IoC.Tests.Assets.Service, Planru.Crosscutting.IoC.Tests" scope="single-instance" />
    </dependencies>
  </planru.ioc>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>