<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Planru" type="Planru.Core.Configuration.PlanruSection, Planru.Core" />
  </configSections>
  <Planru>
    <Modules>
      <Module name="Directory">
        <!-- configure mappings -->
        <Mappings>
          <Mapping from="" to=""></Mapping>
          <Mapping from="" to=""></Mapping>
        </Mappings>
        <!-- configure type -->
        <Types>
          <Type register="" resolve=""></Type>
          <Type register="" resolve=""></Type>
        </Types>
      </Module>
    </Modules>
  </Planru>
</configuration>