<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">
            <button type="button" class="close" ng-click="">×</button>
        </div>
        <h4 class="subtitle mb5">Active Users</h4>
        <p class="text-muted">subtitle goes here ...</p>
        <div class="form-group pull-left">
            <a href="" class="btn-sm" ng-click="vm.createUser()"><i class="fa fa-plus fa-lg"></i></a>
            <a href="" class="btn-sm"><i class="fa fa-users fa-lg"></i></a>
            <a href="" class="btn-sm"><i class="fa fa-search fa-lg"></i></a>
        </div>
        <div class="form-group pull-right">
            <a href="" class="btn-sm"><i class="fa fa-refresh fa-lg" ng-click=""></i></a>
        </div>
        <table ng-table="tableParams" class="table">
            <tr ng-repeat="user in $data">
                <td data-title="'Display Name'">{{user.DisplayName}}</td>
                <td data-title="'Username'">{{user.UserName}}</td>
                <td data-title="''" width="100" class="text-center">
                    <a href=""><i class="btn btn-xs btn-white fa fa-pencil"></i></a>
                    <a href="" class="btn btn-xs btn-white delete-row" ng-click="vm.deleteUser(user.Id)"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>